In [ ]:
#Installing needed libraries
!pip install geopandas

In [ ]:
#Importing needed libraries
import pandas as pd
import geopandas as gpd

In [ ]:
#Loading CEQR projects data 
ceqr_projects = pd.read_csv('CEQR_Projects.csv')
ceqr_projects.head()

        CEQR  ...                                                URL
0  04DCP052Q  ...  https://a002-ceqraccess.nyc.gov/ceqr/ProjectIn...
1  93TLC001Y  ...  https://a002-ceqraccess.nyc.gov/ceqr/ProjectIn...
2  99BSA079K  ...  https://a002-ceqraccess.nyc.gov/ceqr/ProjectIn...
3  16DCP043R  ...  https://a002-ceqraccess.nyc.gov/ceqr/ProjectIn...
4  94DBS006M  ...  https://a002-ceqraccess.nyc.gov/ceqr/ProjectIn...

[5 rows x 6 columns]

In [ ]:
#Loading Projects that are only rezoning projects
ceqr_projects = ceqr_projects[ceqr_projects['Project Name'].str.contains("Rezoning")]

In [ ]:
#Loading all project locations
ceqr_locations = pd.read_csv('CEQR_Project_Locations.csv')
ceqr_locations.head()

      CEQR                     Project Name  ...              Street Name  Postcode
0  82-270M  46-50 Ganesvoort Street Project  ...                      NaN       NaN
1  82-270M  46-50 Ganesvoort Street Project  ...                      NaN       NaN
2  82-270M  46-50 Ganesvoort Street Project  ...                      NaN       NaN
3  82-270M  46-50 Ganesvoort Street Project  ...                      NaN       NaN
4  82-270M  46-50 Ganesvoort Street Project  ...  46-50 GANESVOORT STREET       NaN

[5 rows x 8 columns]

In [ ]:
#Grouping all addresses as per CEQR number and retaining only first block and lot information 
ceqr_locations=ceqr_locations.groupby('CEQR').first()
ceqr_locations.head()

                           Project Name  ...  Postcode
CEQR                                     ...
00BOE001M               Agency Facility  ...       NaN
00BSA001K      Restaurant on 8th Avenue  ...       NaN
00BSA002M             286 Spring Street  ...   10013.0
00BSA004M          625 Greenwich Street  ...   10014.0
00BSA005M  East Houston Street Variance  ...   10002.0

[5 rows x 7 columns]

In [ ]:
#Loading project milestones datasets
ceqr_milestones = pd.read_csv('CEQR_Project_Milestones.csv')
ceqr_milestones.head()

        CEQR  ... Milestone Date
0  09DCP036M  ...     05/04/2009
1  94BSA034Q  ...            NaN
2  94BSA037Q  ...     07/06/1994
3  09DCP048M  ...     03/31/2009
4  13BSA002K  ...     01/08/2013

[5 rows x 4 columns]

In [ ]:
#Converting to datetime
ceqr_milestones['Milestone Date']= pd.to_datetime(ceqr_milestones['Milestone Date'])

In [ ]:
#Filtering to take only the last entered stage for the project
ceqr_milestones=ceqr_milestones.groupby('CEQR').last()

In [ ]:
#Joining all CEQR related datasets together
ceqr_data = ceqr_projects.merge(ceqr_locations,how='left',on='CEQR')
ceqr_data = ceqr_data.merge(ceqr_milestones,how='left',on='CEQR')
ceqr_data = ceqr_data.drop(columns=['Project Name_y','Project Name_x'])
ceqr_data.head()

        CEQR  ... Milestone Date
0  04DCP052Q  ...     2004-05-05
1  06DCP020X  ...     2005-09-12
2  06DCP091Q  ...     2006-03-31
3  09DCP077Q  ...     2009-06-11
4  01DCP076X  ...     2005-01-25

[5 rows x 14 columns]

In [ ]:
#Loading BBL shapefiles
bbl = gpd.read_file('MapPLUTO.shp')
bbl.head()

  Borough  ...                                           geometry
0      MN  ...  POLYGON ((985681.146 218305.545, 985582.473 21...
1      BK  ...  POLYGON ((988603.467 164740.225, 988540.364 16...
2      BX  ...  POLYGON ((1015172.497 258742.899, 1015039.514 ...
3      QN  ...  POLYGON ((1033442.342 170926.651, 1033442.520 ...
4      QN  ...  POLYGON ((1059021.836 187078.195, 1059025.156 ...

[5 rows x 93 columns]

In [ ]:
#Merging BBL and CEQR data with Block and Lot Information
ceqr_bbl = pd.merge(bbl, ceqr_data, on=['Block','Lot'], how='inner', suffixes=['_and', '_or'])
ceqr_bbl.head()

  Borough_and  Block  ...      Milestone Name  Milestone Date
0          MN    202  ...                 EAS      2019-10-25
1          MN   2050  ...                 EAS      2017-09-15
2          MN    567  ...                 EAS      2010-01-22
3          BX   2624  ...                 EAS      2016-11-10
4          BX   3237  ...  Lead Agency Letter      2005-01-13

[5 rows x 105 columns]

In [ ]:
#Installing necessary geospatial libraries
!apt update
!apt upgrade
!apt install gdal-bin python-gdal python3-gdal 
# Install rtree - Geopandas requirment
!apt install python3-rtree 
!pip install pyspark
!pip install fiona
!pip install shapely

In [ ]:
#Importing needed libraries
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline  

import seaborn as sns
sns.set(style="whitegrid")

import fiona
import fiona.crs
import shapely
import rtree

import pandas as pd
import geopandas as gpd

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#Loading census tract information
nyc_counties = ["005","059","061","081","085","047","119"]
spatial_data = gpd.read_file('tl_2019_36_bg.shp')
spatial_data = spatial_data.loc[spatial_data['COUNTYFP'].isin(nyc_counties)]
spatial_data.to_file("block_group.json", driver="GeoJSON")

In [ ]:
#ceqr_bbl.to_csv('ceqr_bbl.csv')
#ceqr_bbl.to_file("ceqr_bbl.json", driver="GeoJSON")

In [ ]:
#Converting to GeoJSON 

#bbls = gpd.read_file('ceqr_bbl.json').to_crs(fiona.crs.from_epsg(2263))
block_groups = gpd.read_file('block_group.json').to_crs(fiona.crs.from_epsg(2263))

/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [ ]:
#Creating rtree indexes for spatial matching of BBLs and Census Tracts
index = rtree.Rtree()
for idx,geometry in enumerate(block_groups.geometry):
    index.insert(idx, geometry.bounds)

In [ ]:
index.bounds

[912190.8893736254, 113288.79017251907, 1144239.485961955, 437426.18835837935]

In [ ]:
idx

8339

In [ ]:
#Spatial matching of BBLs and Census Tracts

import csv
import pyproj
import shapely.geometry as geom


proj = pyproj.Proj(init="epsg:2263", preserve_units=True)    

counts = []

for i, row in ceqr_bbl.iterrows():
  p = geom.Point(proj(float(row['Longitude']), float(row['Latitude'])))
  match = None
  for idx in index.intersection((p.x, p.y, p.x, p.y)):
    if block_groups.geometry[idx].contains(p):
      match = block_groups.GEOID[idx]
      counts.append(match)

/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))

In [ ]:
#Creating new column with Census Tract GEOIDs
ceqr_bbl['GEOID'] = counts
ceqr_bbl.head()

  Borough_and  Block  Lot  ...      Milestone Name Milestone Date         GEOID
0          MN    202   18  ...                 EAS     2019-10-25  360610029003
1          MN   2050  100  ...                 EAS     2017-09-15  360610227002
2          MN    567    5  ...                 EAS     2010-01-22  360610059001
3          BX   2624   41  ...                 EAS     2016-11-10  360050075001
4          BX   3237   38  ...  Lead Agency Letter     2005-01-13  360050269002

[5 rows x 106 columns]

In [ ]:
#Saving file
ceqr_bbl.to_csv('ceqr_bbl.csv')