In [ ]:
#Installing necessary packages
!pip install geopandas

#Installing needed geo based libraries
!pip install libpysal
!pip install splot
!apt update
!apt upgrade
!apt install gdal-bin python-gdal python3-gdal 

# Install rtree - Geopandas requirment
!apt install python3-rtree 
!pip install pysal

In [ ]:
#Installing FB Time Series Package
!pip install fbprophet

Requirement already satisfied: fbprophet in /usr/local/lib/python3.6/dist-packages (0.6)
Requirement already satisfied: Cython>=0.22 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.29.21)
Requirement already satisfied: cmdstanpy==0.4 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.4.0)
Requirement already satisfied: pystan>=2.14 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (2.19.1.1)
Requirement already satisfied: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (1.18.5)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (1.0.5)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (3.2.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (2.2.1)
Requirement already satisfied: holidays>=0.9.5 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (0.9.12)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (1.2)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.6/dist-packages (from fbprophet) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->fbprophet) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->fbprophet) (2.4.7)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.6/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (3.7.7.1)
Requirement already satisfied: pymeeus<=1,>=0.3.6 in /usr/local/lib/python3.6/dist-packages (from convertdate>=2.1.2->fbprophet) (0.3.7)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from holidays>=0.9.5->fbprophet) (1.12.0)

In [ ]:
##Importing needed libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import math
import csv
import geopandas as gpd
import matplotlib.pyplot as plt
from libpysal.weights.contiguity import Queen
from libpysal import examples
import numpy as np
import pandas as pd
import geopandas as gpd
import os
import splot
import pysal
from libpysal import weights

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#Loading demographic data 
demo_data_2018 = pd.read_csv('acs_ct_2018.csv')
demo_data_2018['year'] = '2018'
demo_data_2017 = pd.read_csv('acs_ct_2017.csv')
demo_data_2017['year'] = '2017'
demo_data_2016 = pd.read_csv('acs_ct_2016.csv')
demo_data_2016['year'] = '2016'
demo_data_2015 = pd.read_csv('acs_ct_2015.csv')
demo_data_2015['year'] = '2015'
demo_data_2014 = pd.read_csv('acs_ct_2014.csv')
demo_data_2014['year'] = '2014'
demo_data_2013 = pd.read_csv('acs_ct_2013.csv')
demo_data_2013['year'] = '2013'
demo_data_2012 = pd.read_csv('acs_ct_2012.csv')
demo_data_2012['year'] = '2012'
demo_data_2011 = pd.read_csv('acs_ct_2011.csv')
demo_data_2011['year'] = '2011'
demo_data_2010 = pd.read_csv('acs_ct_2010.csv')
demo_data_2010['year'] = '2010'

In [ ]:
#Loading social vulnerability data
svi_2018 = pd.read_csv('NewYork_2018.csv')
svi_2018['year'] = '2018'
svi_2016 = pd.read_csv('NewYork_2016.csv')
svi_2016['year'] = '2016'
svi_2014 = pd.read_csv('NewYork_2014.csv')
svi_2014['year'] = '2014'
svi_2010 = pd.read_csv('NewYork_2010.csv')
svi_2010['year'] = '2010'
svi_2000 = pd.read_csv('NewYork_2000.csv')
svi_2000['year'] = '2000'

In [ ]:
#Defining logic to calculate hellinger distance - probability distribution of a community's SES wrt ideal conditions
def calc_dist_from_ideal(row,div_int):

#div_int is the number of classes within each probability distribution
  dist_array = np.array(row)
  
  #Assigning probability = 1 for all ideal conditions
  observation = np.cumsum(dist_array/max(np.sum(dist_array),1))

  if np.sum(dist_array) > 0:
    anc = [1]*len(dist_array)
  else:
    anc = [0]*len(dist_array)
  
  #Calculating probability distribution of ideal condition for each of the classes uniformly
  reference = np.cumsum([h / div_int for h in anc])

  return(calc_hellinger_dist(reference, observation))

In [ ]:
#Calculating Hellinger Distance
def calc_hellinger_dist(p,q):

  import numpy as np
  from scipy.linalg import norm
  from scipy.spatial.distance import euclidean


  _SQRT2 = np.sqrt(2)     # sqrt(2) with default precision np.float64
  return np.sqrt(np.sum((np.sqrt(p) - np.sqrt(q)) ** 2)) / _SQRT2

In [ ]:
redhook = pd.read_csv('/content/redhook_census_tracts.csv')
redhook.head()

   Unnamed: 0 borough  block  lot  ...  zonemap  sanborn  taxmap        GEOID
0           0      BK    574   32  ...      16a  301 002   30207  36047005300
1           1      BK    340   25  ...      16a  301 006   30202  36047005300
2           2      BK    346    6  ...      16a  301 006   30202  36047005300
3           3      BK    541   16  ...      16c  301 037   30206  36047005300
4           4      BK    340   19  ...      16a  301 006   30202  36047005300

[5 rows x 68 columns]

In [ ]:
#Adjusting for inflation
demo_data_2010['median_income'] = demo_data_2010['median_income']*1.15
demo_data_2010['median_rent'] = demo_data_2010['median_rent']*1.15
demo_data_2010['owner_occupied_housing_units_median_value'] = demo_data_2010['owner_occupied_housing_units_median_value']*1.15

demo_data_2011['median_income'] = demo_data_2011['median_income']*1.12
demo_data_2011['median_rent'] = demo_data_2011['median_rent']*1.12
demo_data_2011['owner_occupied_housing_units_median_value'] = demo_data_2011['owner_occupied_housing_units_median_value']*1.12

demo_data_2012['median_income'] = demo_data_2012['median_income']*1.09
demo_data_2012['median_rent'] = demo_data_2012['median_rent']*1.09
demo_data_2012['owner_occupied_housing_units_median_value'] = demo_data_2012['owner_occupied_housing_units_median_value']*1.09

demo_data_2013['median_income'] = demo_data_2013['median_income']*1.08
demo_data_2013['median_rent'] = demo_data_2013['median_rent']*1.08
demo_data_2013['owner_occupied_housing_units_median_value'] = demo_data_2013['owner_occupied_housing_units_median_value']*1.08

demo_data_2014['median_income'] = demo_data_2014['median_income']*1.06
demo_data_2014['median_rent'] = demo_data_2014['median_rent']*1.06
demo_data_2014['owner_occupied_housing_units_median_value'] = demo_data_2014['owner_occupied_housing_units_median_value']*1.06

demo_data_2015['median_income'] = demo_data_2015['median_income']*1.06
demo_data_2015['median_rent'] = demo_data_2015['median_rent']*1.06
demo_data_2015['owner_occupied_housing_units_median_value'] = demo_data_2015['owner_occupied_housing_units_median_value']*1.06

demo_data_2016['median_income'] = demo_data_2016['median_income']*1.05
demo_data_2016['median_rent'] = demo_data_2016['median_rent']*1.05
demo_data_2016['owner_occupied_housing_units_median_value'] = demo_data_2016['owner_occupied_housing_units_median_value']*1.05

demo_data_2017['median_income'] = demo_data_2017['median_income']*1.02
demo_data_2017['median_rent'] = demo_data_2017['median_rent']*1.02
demo_data_2017['owner_occupied_housing_units_median_value'] = demo_data_2017['owner_occupied_housing_units_median_value']*1.02

In [ ]:
#Concating Yearly Data to derive time-series variables
demo_data = pd.concat((demo_data_2010,demo_data_2011,demo_data_2012,demo_data_2013,demo_data_2014,demo_data_2015,demo_data_2016,demo_data_2017,demo_data_2018))
demo_data.head()

        geo_id  nonfamily_households  ...  male_60_to_61  male_62_to_64
0  36003940200                     0  ...            NaN            NaN
1  10001990000                     0  ...            NaN            NaN
2  12099980400                     0  ...            NaN            NaN
3  23009990000                     0  ...            NaN            NaN
4   9003980000                     0  ...            NaN            NaN

[5 rows x 255 columns]

In [ ]:
demo_data.year.value_counts()

2010    74002
2015    74001
2014    74001
2018    74001
2016    74001
2011    74001
2012    74001
2013    74001
2017    74001
Name: year, dtype: int64

In [ ]:
#Deriving race based features
demo_data['other_races'] = demo_data['black_pop']+ demo_data['asian_pop'] + demo_data['hispanic_pop'] + demo_data['amerindian_pop'] + demo_data['other_race_pop'] + demo_data['two_or_more_races_pop']

In [ ]:
demo_data.head()

        geo_id  nonfamily_households  ...  male_62_to_64  other_races
0  36003940200                     0  ...            NaN            0
1  10001990000                     0  ...            NaN            0
2  12099980400                     0  ...            NaN            0
3  23009990000                     0  ...            NaN            0
4   9003980000                     0  ...            NaN            0

[5 rows x 256 columns]

In [ ]:
#Subsetting data to only include variables that came up as important in the model
demo_data_rh = demo_data[['geo_id','total_pop','white_pop','asian_pop','black_pop','hispanic_pop','median_income','income_less_10000','income_10000_14999','income_15000_19999','income_20000_24999','income_25000_29999',
                'income_30000_34999','income_35000_39999','income_40000_44999','income_45000_49999','income_50000_59999','income_60000_74999','owner_occupied_housing_units_median_value','median_rent',
                'income_75000_99999','income_100000_124999','income_125000_149999','income_150000_199999','income_200000_or_more','high_school_diploma','less_one_year_college','one_year_more_college','bachelors_degree', 'masters_degree',
                'other_races','commuters_by_public_transportation','income_per_capita','housing_units','vacant_housing_units','year']]
demo_data_rh.head()

        geo_id  total_pop  white_pop  ...  housing_units  vacant_housing_units  year
0  36003940200          0          0  ...              9                     9  2010
1  10001990000          0          0  ...              0                     0  2010
2  12099980400          0          0  ...              0                     0  2010
3  23009990000          0          0  ...              0                     0  2010
4   9003980000          0          0  ...              0                     0  2010

[5 rows x 36 columns]

In [ ]:
#Calculating percentages
demo_data_rh['income_less_10000'] = (demo_data_rh['income_less_10000']/demo_data_rh['total_pop'])*100
demo_data_rh['income_10000_14999'] = (demo_data_rh['income_10000_14999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_15000_19999'] = (demo_data_rh['income_15000_19999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_20000_24999'] = (demo_data_rh['income_20000_24999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_25000_29999'] = (demo_data_rh['income_25000_29999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_30000_34999'] = (demo_data_rh['income_30000_34999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_35000_39999'] = (demo_data_rh['income_35000_39999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_40000_44999'] = (demo_data_rh['income_40000_44999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_45000_49999'] = (demo_data_rh['income_45000_49999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_50000_59999'] = (demo_data_rh['income_50000_59999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_60000_74999'] = (demo_data_rh['income_60000_74999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_75000_99999'] = (demo_data_rh['income_75000_99999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_100000_124999'] = (demo_data_rh['income_100000_124999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_125000_149999'] = (demo_data_rh['income_125000_149999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_150000_199999'] = (demo_data_rh['income_150000_199999']/demo_data_rh['total_pop'])*100
demo_data_rh['income_200000_or_more'] = (demo_data_rh['income_200000_or_more']/demo_data_rh['total_pop'])*100
demo_data_rh['high_school_diploma'] = (demo_data_rh['high_school_diploma']/demo_data_rh['total_pop'])*100
demo_data_rh['less_one_year_college'] = (demo_data_rh['less_one_year_college']/demo_data_rh['total_pop'])*100
demo_data_rh['one_year_more_college'] = (demo_data_rh['one_year_more_college']/demo_data_rh['total_pop'])*100
demo_data_rh['bachelors_degree'] = (demo_data_rh['bachelors_degree']/demo_data_rh['total_pop'])*100
demo_data_rh['masters_degree'] = (demo_data_rh['masters_degree']/demo_data_rh['total_pop'])*100
demo_data_rh['other_races'] = (demo_data_rh['other_races']/demo_data_rh['total_pop'])*100
demo_data_rh['white_pop'] = (demo_data_rh['white_pop']/demo_data_rh['total_pop'])*100
demo_data_rh['black_pop'] = (demo_data_rh['black_pop']/demo_data_rh['total_pop'])*100
demo_data_rh['hispanic_pop'] = (demo_data_rh['hispanic_pop']/demo_data_rh['total_pop'])*100
demo_data_rh['asian_pop'] = (demo_data_rh['asian_pop']/demo_data_rh['total_pop'])*100

In [ ]:
#Getting GEOID of census tracts for redhook 
redhook_df = pd.DataFrame(redhook['GEOID'].unique())
redhook_df = redhook_df.rename(columns={0:'geo_id'})
redhook_df

        geo_id
0  36047005300
1  36047004700
2  36047005900
3  36047008500

In [ ]:
#Subsetting demographic data for redhook alone
demo_data_rh = pd.merge(redhook_df,demo_data_rh,on='geo_id',how='left')
demo_data_rh.head()

        geo_id  total_pop  white_pop  ...  housing_units  vacant_housing_units  year
0  36047005300       2037        824  ...           1010                   137  2010
1  36047005300       2205        856  ...           1038                   139  2011
2  36047005300       2339        998  ...           1071                   138  2012
3  36047005300       2359        856  ...           1059                   148  2013
4  36047005300       2506       1128  ...           1087                    82  2014

[5 rows x 36 columns]

#### Predicting time series for all columns

In [ ]:
#Median Income

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'median_income':'y'})

geoid = list(redhook_df['geo_id'])
median_income_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    median_income_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_less_10000':'y'})

geoid = list(redhook_df['geo_id'])
income_less_10000_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_less_10000_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income_10000_14999

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_10000_14999':'y'})

geoid = list(redhook_df['geo_id'])
income_10000_14999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_10000_14999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_15000_19999':'y'})

geoid = list(redhook_df['geo_id'])
income_15000_19999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_15000_19999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_20000_24999':'y'})

geoid = list(redhook_df['geo_id'])
income_20000_24999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_20000_24999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_25000_29999':'y'})

geoid = list(redhook_df['geo_id'])
income_25000_29999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_25000_29999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_30000_34999':'y'})

geoid = list(redhook_df['geo_id'])
income_30000_34999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_30000_34999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_35000_39999':'y'})

geoid = list(redhook_df['geo_id'])
income_35000_39999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_35000_39999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_40000_44999':'y'})

geoid = list(redhook_df['geo_id'])
income_40000_44999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_40000_44999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_45000_49999':'y'})

geoid = list(redhook_df['geo_id'])
income_45000_49999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_45000_49999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_50000_59999':'y'})

geoid = list(redhook_df['geo_id'])
income_50000_59999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_50000_59999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_60000_74999':'y'})

geoid = list(redhook_df['geo_id'])
income_60000_74999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_60000_74999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_75000_99999':'y'})

geoid = list(redhook_df['geo_id'])
income_75000_99999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_75000_99999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_100000_124999':'y'})

geoid = list(redhook_df['geo_id'])
income_100000_124999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_100000_124999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_125000_149999':'y'})

geoid = list(redhook_df['geo_id'])
income_125000_149999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_125000_149999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_150000_199999':'y'})

geoid = list(redhook_df['geo_id'])
income_150000_199999_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_150000_199999_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_200000_or_more':'y'})

geoid = list(redhook_df['geo_id'])
income_200000_or_more_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_200000_or_more_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'high_school_diploma':'y'})

geoid = list(redhook_df['geo_id'])
high_school_diploma_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    high_school_diploma_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'less_one_year_college':'y'})

geoid = list(redhook_df['geo_id'])
less_one_year_college_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    less_one_year_college_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'one_year_more_college':'y'})

geoid = list(redhook_df['geo_id'])
one_year_more_college_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    one_year_more_college_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'bachelors_degree':'y'})

geoid = list(redhook_df['geo_id'])
bachelors_degree_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    bachelors_degree_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'masters_degree':'y'})

geoid = list(redhook_df['geo_id'])
masters_degree_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    masters_degree_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 4.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'other_races':'y'})

geoid = list(redhook_df['geo_id'])
other_races_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    other_races_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'commuters_by_public_transportation':'y'})

geoid = list(redhook_df['geo_id'])
commuters_by_public_transportation_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    commuters_by_public_transportation_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'income_per_capita':'y'})

geoid = list(redhook_df['geo_id'])
income_per_capita_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    income_per_capita_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'housing_units':'y'})

geoid = list(redhook_df['geo_id'])
housing_units_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    housing_units_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'vacant_housing_units':'y'})

geoid = list(redhook_df['geo_id'])
vacant_housing_units_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    vacant_housing_units_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'white_pop':'y'})

geoid = list(redhook_df['geo_id'])
white_pop_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    white_pop_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'black_pop':'y'})

geoid = list(redhook_df['geo_id'])
black_pop_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    black_pop_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'asian_pop':'y'})

geoid = list(redhook_df['geo_id'])
asian_pop_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    asian_pop_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'hispanic_pop':'y'})

geoid = list(redhook_df['geo_id'])
hispanic_pop_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    hispanic_pop_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
# Income Less than 10000

demo_data_rh_test = demo_data_rh.copy()
demo_data_rh_test = demo_data_rh_test.rename(columns={'year': 'ds', 'median_rent':'y'})

geoid = list(redhook_df['geo_id'])
median_rent_2022 = []

from fbprophet import Prophet
grouped = demo_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=5,freq='Y')
    forecast = m.predict(future)
    median_rent_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 6.

In [ ]:
#Getting dataset with predictions for the year 2022
demo_data_2022 = pd.DataFrame({'geo_id':geoid,'median_income':median_income_2022,'income_less_10000':income_less_10000_2022,
                               'income_10000_14999':income_10000_14999_2022,'income_15000_19999':income_15000_19999_2022,'income_20000_24999':income_20000_24999_2022,
                               'income_25000_29999':income_25000_29999_2022,'income_30000_34999':income_30000_34999_2022,'income_35000_39999':income_35000_39999_2022,
                               'income_40000_44999':income_40000_44999_2022,'income_45000_49999':income_45000_49999_2022,'income_50000_59999':income_50000_59999_2022,
                               'income_60000_74999':income_60000_74999_2022,'income_75000_99999':income_75000_99999_2022,'income_100000_124999':income_100000_124999_2022,
                               'income_125000_149999':income_125000_149999_2022,'income_150000_199999':income_150000_199999_2022,'income_200000_or_more':income_200000_or_more_2022,
                               'high_school_diploma':high_school_diploma_2022,'less_one_year_college':less_one_year_college_2022,'one_year_more_college':one_year_more_college_2022,
                               'bachelors_degree':bachelors_degree_2022,'masters_degree':masters_degree_2022,'other_races':other_races_2022,
                               'commuters_by_public_transportation':commuters_by_public_transportation_2022,'income_per_capita':income_per_capita_2022,
                               'housing_units':housing_units_2022,'vacant_housing_units':vacant_housing_units_2022,'median_rent':median_rent_2022})

demo_data_2022['year'] = '2022'
demo_data_2022

        geo_id  median_income  ...  median_rent  year
0  36047005300   95383.469178  ...  1646.728355  2022
1  36047004700   97819.473515  ...  2116.650998  2022
2  36047005900   84282.874941  ...  2309.983171  2022
3  36047008500   11760.468696  ...   363.829031  2022

[4 rows x 30 columns]

In [ ]:
#Carrying the same steps for 2016 and 2017
demo_data_2017['other_races'] = demo_data_2017['black_pop']+ demo_data_2017['asian_pop'] + demo_data_2017['hispanic_pop'] + demo_data_2017['amerindian_pop'] + demo_data_2017['other_race_pop'] + demo_data_2017['two_or_more_races_pop']
demo_data_2016['other_races'] = demo_data_2016['black_pop']+ demo_data_2016['asian_pop'] + demo_data_2016['hispanic_pop'] + demo_data_2016['amerindian_pop'] + demo_data_2016['other_race_pop'] + demo_data_2016['two_or_more_races_pop']

demo_data_2017 = demo_data_2017[['geo_id','median_income','income_less_10000','income_10000_14999','income_15000_19999','income_20000_24999','income_25000_29999',
                'income_30000_34999','income_35000_39999','income_40000_44999','income_45000_49999','income_50000_59999','income_60000_74999',
                'income_75000_99999','income_100000_124999','income_125000_149999','income_150000_199999','income_200000_or_more','high_school_diploma','less_one_year_college','one_year_more_college','bachelors_degree', 'masters_degree',
                'other_races','commuters_by_public_transportation','income_per_capita','housing_units','vacant_housing_units','year']]

demo_data_2016 = demo_data_2016[['geo_id','median_income','income_less_10000','income_10000_14999','income_15000_19999','income_20000_24999','income_25000_29999',
                'income_30000_34999','income_35000_39999','income_40000_44999','income_45000_49999','income_50000_59999','income_60000_74999',
                'income_75000_99999','income_100000_124999','income_125000_149999','income_150000_199999','income_200000_or_more','high_school_diploma','less_one_year_college','one_year_more_college','bachelors_degree', 'masters_degree',
                'other_races','commuters_by_public_transportation','income_per_capita','housing_units','vacant_housing_units','year']]

demo_data_2017_rh = pd.merge(redhook_df,demo_data_2017,on='geo_id',how='left')
demo_data_2017_rh.head()

demo_data_2016_rh = pd.merge(redhook_df,demo_data_2016,on='geo_id',how='left')
demo_data_2016_rh.head()

        geo_id  median_income  ...  vacant_housing_units  year
0  36047005300       84656.25  ...                   102  2016
1  36047004700      114187.50  ...                    62  2016
2  36047005900       69644.40  ...                    65  2016
3  36047008500       14940.45  ...                    25  2016

[4 rows x 29 columns]

In [ ]:
demo_data_2017_rh['income_less_10000'] = (demo_data_2017_rh['income_less_10000']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_10000_14999'] = (demo_data_2017_rh['income_10000_14999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_15000_19999'] = (demo_data_2017_rh['income_15000_19999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_20000_24999'] = (demo_data_2017_rh['income_20000_24999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_25000_29999'] = (demo_data_2017_rh['income_25000_29999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_30000_34999'] = (demo_data_2017_rh['income_30000_34999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_35000_39999'] = (demo_data_2017_rh['income_35000_39999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_40000_44999'] = (demo_data_2017_rh['income_40000_44999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_45000_49999'] = (demo_data_2017_rh['income_45000_49999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_50000_59999'] = (demo_data_2017_rh['income_50000_59999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_60000_74999'] = (demo_data_2017_rh['income_60000_74999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_75000_99999'] = (demo_data_2017_rh['income_75000_99999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_100000_124999'] = (demo_data_2017_rh['income_100000_124999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_125000_149999'] = (demo_data_2017_rh['income_125000_149999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_150000_199999'] = (demo_data_2017_rh['income_150000_199999']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['income_200000_or_more'] = (demo_data_2017_rh['income_200000_or_more']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['high_school_diploma'] = (demo_data_2017_rh['high_school_diploma']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['less_one_year_college'] = (demo_data_2017_rh['less_one_year_college']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['one_year_more_college'] = (demo_data_2017_rh['one_year_more_college']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['bachelors_degree'] = (demo_data_2017_rh['bachelors_degree']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['masters_degree'] = (demo_data_2017_rh['masters_degree']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['other_races'] = (demo_data_2017_rh['other_races']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['white_pop'] = (demo_data_2017_rh['white_pop']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['black_pop'] = (demo_data_2017_rh['black_pop']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['hispanic_pop'] = (demo_data_2017_rh['hispanic_pop']/demo_data_2017_rh['total_pop'])*100
demo_data_2017_rh['asian_pop'] = (demo_data_2017_rh['asian_pop']/demo_data_2017_rh['total_pop'])*100

In [ ]:
demo_data_2017_rh.head()

        geo_id  median_income  total_pop  ...  year  income_dist  edu_dist
0  36047005300        93750.0       2420  ...  2017     0.308971  0.179388
1  36047004700       107198.0       2025  ...  2017     0.590285  0.335234
2  36047005900        70833.0       1337  ...  2017     0.316938  0.213311
3  36047008500        13207.0       7559  ...  2017     0.661046  0.233598

[4 rows x 36 columns]

In [ ]:
demo_data_2016_rh['income_less_10000'] = (demo_data_2016_rh['income_less_10000']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_10000_14999'] = (demo_data_2016_rh['income_10000_14999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_15000_19999'] = (demo_data_2016_rh['income_15000_19999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_20000_24999'] = (demo_data_2016_rh['income_20000_24999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_25000_29999'] = (demo_data_2016_rh['income_25000_29999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_30000_34999'] = (demo_data_2016_rh['income_30000_34999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_35000_39999'] = (demo_data_2016_rh['income_35000_39999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_40000_44999'] = (demo_data_2016_rh['income_40000_44999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_45000_49999'] = (demo_data_2016_rh['income_45000_49999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_50000_59999'] = (demo_data_2016_rh['income_50000_59999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_60000_74999'] = (demo_data_2016_rh['income_60000_74999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_75000_99999'] = (demo_data_2016_rh['income_75000_99999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_100000_124999'] = (demo_data_2016_rh['income_100000_124999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_125000_149999'] = (demo_data_2016_rh['income_125000_149999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_150000_199999'] = (demo_data_2016_rh['income_150000_199999']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['income_200000_or_more'] = (demo_data_2016_rh['income_200000_or_more']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['high_school_diploma'] = (demo_data_2016_rh['high_school_diploma']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['less_one_year_college'] = (demo_data_2016_rh['less_one_year_college']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['one_year_more_college'] = (demo_data_2016_rh['one_year_more_college']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['bachelors_degree'] = (demo_data_2016_rh['bachelors_degree']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['masters_degree'] = (demo_data_2016_rh['masters_degree']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['other_races'] = (demo_data_2016_rh['other_races']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['white_pop'] = (demo_data_2016_rh['white_pop']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['black_pop'] = (demo_data_2016_rh['black_pop']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['hispanic_pop'] = (demo_data_2016_rh['hispanic_pop']/demo_data_2016_rh['total_pop'])*100
demo_data_2016_rh['asian_pop'] = (demo_data_2016_rh['asian_pop']/demo_data_2016_rh['total_pop'])*100

In [ ]:
demo_data_2016_rh.head()

        geo_id  median_income  ...  vacant_housing_units  year
0  36047005300       84656.25  ...                   102  2016
1  36047004700      114187.50  ...                    62  2016
2  36047005900       69644.40  ...                    65  2016
3  36047008500       14940.45  ...                    25  2016

[4 rows x 29 columns]

In [ ]:
demo_data_2022_rh = demo_data_2022.copy()
demo_data_2022_rh.head()

        geo_id  median_income  ...  median_rent  year
0  36047005300   95383.469178  ...  1646.728355  2022
1  36047004700   97819.473515  ...  2116.650998  2022
2  36047005900   84282.874941  ...  2309.983171  2022
3  36047008500   11760.468696  ...   363.829031  2022

[4 rows x 30 columns]

In [ ]:
income_vars = [ 'income_less_10000','income_10000_14999','income_15000_19999','income_20000_24999','income_25000_29999',
                'income_30000_34999','income_35000_39999','income_40000_44999','income_45000_49999','income_50000_59999','income_60000_74999',
                'income_75000_99999','income_100000_124999','income_125000_149999','income_150000_199999','income_200000_or_more']

demo_data_2022_rh['income_dist'] = demo_data_2022_rh[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2017_rh['income_dist'] = demo_data_2017_rh[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2016_rh['income_dist'] = demo_data_2016_rh[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)

education_vars = ['high_school_diploma','less_one_year_college','one_year_more_college','bachelors_degree', 'masters_degree']

demo_data_2022_rh['edu_dist'] = demo_data_2022_rh[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2017_rh['edu_dist'] = demo_data_2017_rh[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2016_rh['income_dist'] = demo_data_2016_rh[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)

In [ ]:
#Concating Yearly Data to derive time-series variables
demo_data_rh = pd.concat((demo_data_2016_rh,demo_data_2017_rh,demo_data_2022_rh))

In [ ]:
demo_data_rh.head()

        geo_id  median_income  ...  edu_dist  median_rent
0  36047005300       84656.25  ...       NaN          NaN
1  36047004700      114187.50  ...       NaN          NaN
2  36047005900       69644.40  ...       NaN          NaN
3  36047008500       14940.45  ...       NaN          NaN
0  36047005300       95625.00  ...  0.179388          NaN

[5 rows x 32 columns]

In [ ]:
demo_data_rh.to_csv('redhook_demographic_prediction_5Yr_Percent.csv')

In [ ]:
#Calculate Time Series Variables (difference of population, income, education over years)
def calc_time_series_vars(census_data,variable_list,start_yr,end_yr):
  
  df = demo_data_2022_rh[['geo_id']]
  vars = variable_list
  year = [start_yr,end_yr]

  for j in vars:
      df['{}_{}_{}'.format(end_yr,start_yr,j)] = (census_data.loc[census_data['year'] == str(end_yr), j] - census_data.loc[census_data['year'] == str(start_yr), j])

  return df

In [ ]:
var_list = ['median_income','median_rent','income_dist','edu_dist','other_races','commuters_by_public_transportation','income_per_capita','housing_units','vacant_housing_units','bachelors_degree']
df = calc_time_series_vars(demo_data_rh,var_list,2017,2022)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.head()

        geo_id  ...  2022_2017_bachelors_degree
0  36047005300  ...                  138.060110
1  36047004700  ...                  -11.195519
2  36047005900  ...                  151.221743
3  36047008500  ...                 -189.172105

[4 rows x 11 columns]

In [ ]:
#Calculating time changes between 2011-2012
df2 = calc_time_series_vars(demo_data_rh,var_list,2016,2017)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2.head()

        geo_id  ...  2017_2016_bachelors_degree
0  36047005300  ...                        11.0
1  36047004700  ...                       -34.0
2  36047005900  ...                        14.0
3  36047008500  ...                       -18.0

[4 rows x 11 columns]

In [ ]:
#Merging study datasets
df = df.merge(df2,how='left',on='geo_id')
df.head()

        geo_id  ...  2017_2016_bachelors_degree
0  36047005300  ...                        11.0
1  36047004700  ...                       -34.0
2  36047005900  ...                        14.0
3  36047008500  ...                       -18.0

[4 rows x 21 columns]

In [ ]:
#Concating SVI Variables
svi_data = pd.concat((svi_2014,svi_2016,svi_2018))
svi_data.head()

   FID              AFFGEOID  TRACTCE  ...  MP_UNINSUR E_DAYPOP  year
0 -1.0  1400000US36001000100    100.0  ...         4.6   3625.0  2014
1 -1.0  1400000US36001000200    200.0  ...         7.2   5027.0  2014
2 -1.0  1400000US36001000300    300.0  ...        10.8  10514.0  2014
3 -1.0  1400000US36001000401    401.0  ...         3.8  12048.0  2014
4 -1.0  1400000US36001000403    403.0  ...         4.9   5194.0  2014

[5 rows x 128 columns]

In [ ]:
svi_data_rh = svi_data.copy()
svi_data_rh = svi_data[['FIPS','EP_POV','EP_MUNIT','EP_MOBILE','EP_SNGPNT','EP_CROWD','EP_MINRTY','year']]
svi_data_rh.year.value_counts()

2018    4906
2016    4906
2014    4906
Name: year, dtype: int64

In [ ]:
svi_data_rh = svi_data_rh.rename(columns={'FIPS':'geo_id'})
svi_data_rh = pd.merge(redhook_df,svi_data_rh,on='geo_id',how='left')
svi_data_rh.head()

        geo_id  EP_POV  EP_MUNIT  ...  EP_CROWD  EP_MINRTY  year
0  36047005300    20.5      21.6  ...      11.9       55.0  2014
1  36047005300    19.6      16.2  ...      10.4       50.4  2016
2  36047005300    16.1      17.5  ...       7.5       45.0  2018
3  36047004700    10.2      60.0  ...       6.0       51.7  2014
4  36047004700     7.2      61.4  ...       1.5       45.3  2016

[5 rows x 8 columns]

In [ ]:
#Median Income

svi_data_rh_test = svi_data_rh.copy()
svi_data_rh_test = svi_data_rh_test.rename(columns={'year': 'ds', 'EP_POV':'y'})

geoid = list(redhook_df['geo_id'])
EP_POV_2022 = []

from fbprophet import Prophet
grouped = svi_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=4,freq='Y')
    forecast = m.predict(future)
    EP_POV_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.

In [ ]:
#Median Income

svi_data_rh_test = svi_data_rh.copy()
svi_data_rh_test = svi_data_rh_test.rename(columns={'year': 'ds', 'EP_MUNIT':'y'})

geoid = list(redhook_df['geo_id'])
EP_MUNIT_2022 = []

from fbprophet import Prophet
grouped = svi_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=4,freq='Y')
    forecast = m.predict(future)
    EP_MUNIT_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.

In [ ]:
#Median Income

svi_data_rh_test = svi_data_rh.copy()
svi_data_rh_test = svi_data_rh_test.rename(columns={'year': 'ds', 'EP_MOBILE':'y'})

geoid = list(redhook_df['geo_id'])
EP_MOBILE_2022 = []

from fbprophet import Prophet
grouped = svi_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=4,freq='Y')
    forecast = m.predict(future)
    EP_MOBILE_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.

In [ ]:
#Median Income

svi_data_rh_test = svi_data_rh.copy()
svi_data_rh_test = svi_data_rh_test.rename(columns={'year': 'ds', 'EP_MOBILE':'y'})

geoid = list(redhook_df['geo_id'])
EP_MOBILE_2022 = []

from fbprophet import Prophet
grouped = svi_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=4,freq='Y')
    forecast = m.predict(future)
    EP_MOBILE_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.

In [ ]:
#Median Income

svi_data_rh_test = svi_data_rh.copy()
svi_data_rh_test = svi_data_rh_test.rename(columns={'year': 'ds', 'EP_SNGPNT':'y'})

geoid = list(redhook_df['geo_id'])
EP_SNGPNT_2022 = []

from fbprophet import Prophet
grouped = svi_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=4,freq='Y')
    forecast = m.predict(future)
    EP_SNGPNT_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.

In [ ]:
#Median Income

svi_data_rh_test = svi_data_rh.copy()
svi_data_rh_test = svi_data_rh_test.rename(columns={'year': 'ds', 'EP_CROWD':'y'})

geoid = list(redhook_df['geo_id'])
EP_CROWD_2022 = []

from fbprophet import Prophet
grouped = svi_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=4,freq='Y')
    forecast = m.predict(future)
    EP_CROWD_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.

In [ ]:
#Median Income

svi_data_rh_test = svi_data_rh.copy()
svi_data_rh_test = svi_data_rh_test.rename(columns={'year': 'ds', 'EP_MINRTY':'y'})

geoid = list(redhook_df['geo_id'])
EP_MINRTY_2022 = []

from fbprophet import Prophet
grouped = svi_data_rh_test.groupby('geo_id')
for g in grouped.groups:
    group = grouped.get_group(g)
    m = Prophet(yearly_seasonality = True)
    m.fit(group)
    future = m.make_future_dataframe(periods=4,freq='Y')
    forecast = m.predict(future)
    EP_MINRTY_2022.append(float(forecast.yhat.tail(1)))

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 1.

In [ ]:
svi_data_2022 = pd.DataFrame({'geo_id':geoid,'EP_POV':EP_POV_2022,'EP_MUNIT':EP_MUNIT_2022,'EP_MOBILE':EP_MOBILE_2022,'EP_SNGPNT':EP_SNGPNT_2022,'EP_CROWD':EP_CROWD_2022,'EP_MINRTY':EP_MINRTY_2022})

svi_data_2022['year'] = '2022'
svi_data_2022

        geo_id     EP_POV   EP_MUNIT  ...   EP_CROWD  EP_MINRTY  year
0  36047005300   1.763407  63.358844  ...  -7.591306  31.755004  2022
1  36047004700  14.145394   6.568118  ...   4.617938  35.188624  2022
2  36047005900  16.384185  32.420378  ...   5.349771  53.559667  2022
3  36047008500  33.489705  98.780671  ...  26.835230  98.742493  2022

[4 rows x 8 columns]

In [ ]:
svi_data_rh.to_csv('redhook_svi_predictions_5year_percent.csv')

In [ ]:
#Calculate Time Series Variables (difference of population, income, education over years)
def calc_time_series_vars_svi(census_data,variable_list,start_yr,end_yr):
  
  df = svi_data_2022[['geo_id']]
  vars = variable_list
  year = [start_yr,end_yr]

  for j in vars:
      df['{}_{}_{}'.format(end_yr,start_yr,j)] = (census_data.loc[census_data['year'] == str(end_yr), j] - census_data.loc[census_data['year'] == str(start_yr), j])

  return df

In [ ]:
svi_data_rh = pd.concat((svi_data_rh,svi_data_2022))

In [ ]:
svi_var_list = ['EP_POV','EP_MUNIT','EP_MOBILE']
df3 = calc_time_series_vars_svi(svi_data_rh,svi_var_list,2018,2022)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df3.head()

        geo_id  2022_2018_EP_POV  2022_2018_EP_MUNIT  2022_2018_EP_MOBILE
0  36047005300               NaN                 NaN                  NaN
1  36047004700               NaN                 NaN                  NaN
2  36047005900          0.284185           14.920378                  0.0
3  36047008500               NaN                 NaN                  NaN

In [ ]:
df = df.merge(df3,how='left',on='geo_id')

In [ ]:
df.head()

        geo_id  ...  2022_2018_EP_MOBILE
0  36047005300  ...                  NaN
1  36047004700  ...                  NaN
2  36047005900  ...                  0.0
3  36047008500  ...                  NaN

[4 rows x 24 columns]

In [ ]:
NYC_COUNTIES = [
    "005", # Bronx
    "047", # Kings (Brooklyn)
    "061", # New York County (Manhattan)
    "081", # Queens
    "085", # Richmond (Staten Island)
]

In [ ]:
spatial_data = gpd.read_file('tl_2019_36_tract.shp')
spatial_data['GEOID'] = spatial_data['GEOID'].astype(int)
spatial_data= spatial_data[spatial_data['COUNTYFP'].isin(NYC_COUNTIES)]
spatial_data= spatial_data[spatial_data['GEOID'].isin(geoid)]
spatial_data.head()

     STATEFP  ...                                           geometry
1013      36  ...  POLYGON ((-74.04894 40.66270, -74.04822 40.663...
4658      36  ...  POLYGON ((-74.01170 40.67936, -74.01045 40.680...
4660      36  ...  POLYGON ((-74.00843 40.68602, -74.00816 40.686...
4689      36  ...  POLYGON ((-74.01079 40.67683, -74.01017 40.677...

[4 rows x 13 columns]

In [ ]:
#Calculating queen weights for each GeoID (census tract)
w = Queen.from_dataframe(spatial_data,idVariable='GEOID')
w.transform = 'R'

In [ ]:
spatial_data = spatial_data.merge(df, how='inner',left_on='GEOID',right_on='geo_id')
spatial_data.head()

  STATEFP COUNTYFP  ... 2022_2018_EP_MUNIT  2022_2018_EP_MOBILE
0      36      047  ...                NaN                  NaN
1      36      047  ...          14.920378                  0.0
2      36      047  ...                NaN                  NaN
3      36      047  ...                NaN                  NaN

[4 rows x 37 columns]

In [ ]:
#Checking for null values
spatial_data.isnull().sum(axis = 0)

STATEFP                                         0
COUNTYFP                                        0
TRACTCE                                         0
GEOID                                           0
NAME                                            0
NAMELSAD                                        0
MTFCC                                           0
FUNCSTAT                                        0
ALAND                                           0
AWATER                                          0
INTPTLAT                                        0
INTPTLON                                        0
geometry                                        0
geo_id                                          0
2022_2017_median_income                         0
2022_2017_median_rent                           4
2022_2017_income_dist                           2
2022_2017_edu_dist                              0
2022_2017_other_races                           0
2022_2017_commuters_by_public_transportation    0
2022_2017_income_per_capita                     0
2022_2017_housing_units                         0
2022_2017_vacant_housing_units                  0
2022_2017_bachelors_degree                      0
2017_2016_median_income                         0
2017_2016_median_rent                           4
2017_2016_income_dist                           0
2017_2016_edu_dist                              4
2017_2016_other_races                           0
2017_2016_commuters_by_public_transportation    0
2017_2016_income_per_capita                     0
2017_2016_housing_units                         0
2017_2016_vacant_housing_units                  0
2017_2016_bachelors_degree                      0
2022_2018_EP_POV                                3
2022_2018_EP_MUNIT                              3
2022_2018_EP_MOBILE                             3
dtype: int64

In [ ]:
#Fill NAs with 0 for spatial lag calculations
spatial_data = spatial_data.fillna(0)

In [ ]:
spatial_data.shape

(4, 37)

In [ ]:
spatial_data

  STATEFP COUNTYFP  ... 2022_2018_EP_MUNIT  2022_2018_EP_MOBILE
0      36      047  ...           0.000000                  0.0
1      36      047  ...          14.920378                  0.0
2      36      047  ...           0.000000                  0.0
3      36      047  ...           0.000000                  0.0

[4 rows x 37 columns]

In [ ]:
#Calculating spatial weights
import libpysal as lps

spatial_data['lagged_spatial_income'] = lps.weights.lag_spatial(w, spatial_data['2017_2016_median_income'])
spatial_data['lagged_income_dist'] = lps.weights.lag_spatial(w, spatial_data['2017_2016_income_dist'])
spatial_data['lagged_other_races'] = lps.weights.lag_spatial(w, spatial_data['2017_2016_other_races'])
#spatial_data['lagged_edu_dist'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_edu_dist'])
spatial_data['lagged_public_commute'] = lps.weights.lag_spatial(w, spatial_data['2017_2016_commuters_by_public_transportation'])
spatial_data['lagged_income_per_capita'] = lps.weights.lag_spatial(w, spatial_data['2017_2016_income_per_capita'])
spatial_data['lagged_housing_units'] = lps.weights.lag_spatial(w, spatial_data['2017_2016_housing_units'])
spatial_data['lagged_vacant_housing_units'] = lps.weights.lag_spatial(w, spatial_data['2017_2016_vacant_housing_units'])
spatial_data['lagged_spatial_rent'] = lps.weights.lag_spatial(w, spatial_data['2017_2016_median_rent'])

In [ ]:
spatial_data_rh = spatial_data.copy()
spatial_data_rh.head()

  STATEFP COUNTYFP  ... lagged_vacant_housing_units  lagged_spatial_rent
0      36      047  ...                    1.000000                  0.0
1      36      047  ...                   15.666667                  0.0
2      36      047  ...                    1.000000                  0.0
3      36      047  ...                   15.500000                  0.0

[4 rows x 45 columns]

# Getting Model Parameters

In [ ]:
#Loading demographic data 
demo_data_2018 = pd.read_csv('acs_ct_2018.csv')
demo_data_2018['year'] = '2018'
demo_data_2017 = pd.read_csv('acs_ct_2017.csv')
demo_data_2017['year'] = '2017'
demo_data_2016 = pd.read_csv('acs_ct_2016.csv')
demo_data_2016['year'] = '2016'
demo_data_2015 = pd.read_csv('acs_ct_2015.csv')
demo_data_2015['year'] = '2015'
demo_data_2014 = pd.read_csv('acs_ct_2014.csv')
demo_data_2014['year'] = '2014'
demo_data_2013 = pd.read_csv('acs_ct_2013.csv')
demo_data_2013['year'] = '2013'
demo_data_2012 = pd.read_csv('acs_ct_2012.csv')
demo_data_2012['year'] = '2012'
demo_data_2011 = pd.read_csv('acs_ct_2011.csv')
demo_data_2011['year'] = '2011'
demo_data_2010 = pd.read_csv('acs_ct_2010.csv')
demo_data_2010['year'] = '2010'

In [ ]:
#Loading social vulnerability data
svi_2018 = pd.read_csv('NewYork_2018.csv')
svi_2018['year'] = '2018'
svi_2016 = pd.read_csv('NewYork_2016.csv')
svi_2016['year'] = '2016'
svi_2014 = pd.read_csv('NewYork_2014.csv')
svi_2014['year'] = '2014'
svi_2010 = pd.read_csv('NewYork_2010.csv')
svi_2016['year'] = '2010'
svi_2000 = pd.read_csv('NewYork_2000.csv')
svi_2000['year'] = '2000'

In [ ]:
#Applying hellinger distance for all income variables

income_vars = [ 'income_less_10000','income_10000_14999','income_15000_19999','income_20000_24999','income_25000_29999',
                'income_30000_34999','income_35000_39999','income_40000_44999','income_45000_49999','income_50000_59999','income_60000_74999',
                'income_75000_99999','income_100000_124999','income_125000_149999','income_150000_199999','income_200000_or_more']

demo_data_2018['income_dist'] = demo_data_2018[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2017['income_dist'] = demo_data_2017[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2016['income_dist'] = demo_data_2016[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2015['income_dist'] = demo_data_2015[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2014['income_dist'] = demo_data_2014[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2013['income_dist'] = demo_data_2013[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2012['income_dist'] = demo_data_2012[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2011['income_dist'] = demo_data_2011[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)
demo_data_2010['income_dist'] = demo_data_2010[income_vars].apply(calc_dist_from_ideal,div_int=16,axis=1)

In [ ]:
demo_data_2017.head()

        geo_id  nonfamily_households  ...  year  income_dist
0  72031050111                   277  ...  2017     0.070300
1  72127010022                   309  ...  2017     0.120734
2  72111730700                   309  ...  2017     0.582836
3  72113072201                   345  ...  2017     0.641039
4  72113073005                   231  ...  2017     0.336173

[5 rows x 254 columns]

In [ ]:
#Applying hellinger distance for all education variables

education_vars = ['high_school_diploma','less_one_year_college','one_year_more_college','bachelors_degree', 'masters_degree']

demo_data_2018['edu_dist'] = demo_data_2018[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2017['edu_dist'] = demo_data_2017[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2016['edu_dist'] = demo_data_2016[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2015['edu_dist'] = demo_data_2015[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2014['edu_dist'] = demo_data_2014[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2013['edu_dist'] = demo_data_2013[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2012['edu_dist'] = demo_data_2012[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2011['edu_dist'] = demo_data_2011[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)
demo_data_2010['edu_dist'] = demo_data_2010[education_vars].apply(calc_dist_from_ideal,div_int=5,axis=1)

In [ ]:
demo_data_2016.head()

        geo_id  nonfamily_households  ...  income_dist  edu_dist
0  72015280202                   663  ...     0.714839  0.207384
1  72031050902                   488  ...     0.380926  0.121093
2  72127002800                   594  ...     0.725598  0.268158
3  72127009121                   515  ...     0.334120  0.124323
4  72031050302                   378  ...     0.460297  0.124111

[5 rows x 255 columns]

In [ ]:
#Adjusting for inflation
demo_data_2012['median_income'] = demo_data_2012['median_income']*1.09
demo_data_2017['median_income'] = demo_data_2017['median_income']*1.02
demo_data_2012['median_rent'] = demo_data_2012['median_rent']*1.09
demo_data_2017['median_rent'] = demo_data_2017['median_rent']*1.02
demo_data_2012['owner_occupied_housing_units_median_value'] = demo_data_2012['owner_occupied_housing_units_median_value']*1.09
demo_data_2017['owner_occupied_housing_units_median_value'] = demo_data_2017['owner_occupied_housing_units_median_value']*1.02

In [ ]:
#Concating Yearly Data to derive time-series variables
demo_data = pd.concat((demo_data_2011,demo_data_2012,demo_data_2017))
demo_data.head()

        geo_id  nonfamily_households  ...  income_dist  edu_dist
0  26011990100                     0  ...          0.0       NaN
1  48469980000                     0  ...          0.0       NaN
2  12009980000                     0  ...          0.0       NaN
3   4012980000                     0  ...          0.0       NaN
4  41015990101                     0  ...          0.0       NaN

[5 rows x 255 columns]

In [ ]:
#Calculate Time Series Variables (difference of population, income, education over years)
def calc_time_series_vars(census_data,variable_list,start_yr,end_yr):
  
  df = demo_data_2017[['geo_id']]
  vars = variable_list
  year = [start_yr,end_yr]

  for j in vars:
      df['{}_{}_{}'.format(end_yr,start_yr,j)] = (census_data.loc[census_data['year'] == str(end_yr), j] - census_data.loc[census_data['year'] == str(start_yr), j])

  return df

In [ ]:
#Deriving race based features
demo_data['other_races'] = demo_data['black_pop']+ demo_data['asian_pop'] + demo_data['hispanic_pop'] + demo_data['amerindian_pop'] + demo_data['other_race_pop'] + demo_data['two_or_more_races_pop']

In [ ]:
#Calculating time changes for study variables
var_list = ['median_income','owner_occupied_housing_units_median_value','median_rent','income_dist','edu_dist','white_pop','other_races','commuters_by_public_transportation','income_per_capita','housing_units','vacant_housing_units','bachelors_degree']
df = calc_time_series_vars(demo_data,var_list,2012,2017)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#Calculating time changes between 2011-2012
df2 = calc_time_series_vars(demo_data,var_list,2011,2012)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#Visualising
df2.head()

        geo_id  ...  2012_2011_bachelors_degree
0  72031050111  ...                         NaN
1  72127010022  ...                         NaN
2  72111730700  ...                         NaN
3  72113072201  ...                         NaN
4  72113073005  ...                         NaN

[5 rows x 13 columns]

In [ ]:
#Merging study datasets
df = df.merge(df2,how='left',on='geo_id')
df.head()

        geo_id  ...  2012_2011_bachelors_degree
0  72031050111  ...                         NaN
1  72127010022  ...                         NaN
2  72111730700  ...                         NaN
3  72113072201  ...                         NaN
4  72113073005  ...                         NaN

[5 rows x 25 columns]

In [ ]:
#Concating SVI Variables
svi_data = pd.concat((svi_2000,svi_2010,svi_2014,svi_2016,svi_2018))
svi_data.head()

   STATE_FIPS  CNTY_FIPS  STCOFIPS  ...  EP_UNINSUR  MP_UNINSUR E_DAYPOP
0        36.0       29.0   36029.0  ...         NaN         NaN      NaN
1        36.0       29.0   36029.0  ...         NaN         NaN      NaN
2        36.0       29.0   36029.0  ...         NaN         NaN      NaN
3        36.0       29.0   36029.0  ...         NaN         NaN      NaN
4        36.0       29.0   36029.0  ...         NaN         NaN      NaN

[5 rows x 283 columns]

In [ ]:
#Calculate Time Series Variables (difference of population, income, education over years)
def calc_time_series_vars_svi(census_data,variable_list,start_yr,end_yr):
  
  df = svi_2016[['FIPS']]
  vars = variable_list
  year = [start_yr,end_yr]

  for j in vars:
      df['{}_{}_{}'.format(end_yr,start_yr,j)] = (census_data.loc[census_data['year'] == str(end_yr), j] - census_data.loc[census_data['year'] == str(start_yr), j])

  return df

In [ ]:
#Doing the same changes to social vulnerability datasets
svi_var_list = ['EP_POV','EP_UNEMP','EP_SNGPNT','EP_MINRTY','EP_MUNIT','EP_MOBILE','EP_CROWD']
df3 = calc_time_series_vars_svi(svi_data,svi_var_list,2014,2018)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#Final Merges
df3 = df3.rename(columns={'FIPS':'geo_id'})
df = df.merge(df3,how='left',on='geo_id')
df.head()

        geo_id  ...  2018_2014_EP_CROWD
0  72031050111  ...                 NaN
1  72127010022  ...                 NaN
2  72111730700  ...                 NaN
3  72113072201  ...                 NaN
4  72113073005  ...                 NaN

[5 rows x 32 columns]

In [ ]:
NYC_COUNTIES = [
    "005", # Bronx
    "047", # Kings (Brooklyn)
    "061", # New York County (Manhattan)
    "081", # Queens
    "085", # Richmond (Staten Island)
]

In [ ]:
spatial_data = gpd.read_file('tl_2019_36_tract.shp')
spatial_data['GEOID'] = spatial_data['GEOID'].astype(int)
spatial_data= spatial_data[spatial_data['COUNTYFP'].isin(NYC_COUNTIES)]
spatial_data.head()

  STATEFP  ...                                           geometry
0      36  ...  POLYGON ((-73.80646 40.71206, -73.80556 40.712...
1      36  ...  POLYGON ((-73.79364 40.71382, -73.79362 40.713...
2      36  ...  POLYGON ((-73.79203 40.71107, -73.79101 40.711...
3      36  ...  POLYGON ((-73.87468 40.74335, -73.87423 40.743...
4      36  ...  POLYGON ((-73.79187 40.71379, -73.79085 40.714...

[5 rows x 13 columns]

In [ ]:
#Calculating queen weights for each GeoID (census tract)
w = Queen.from_dataframe(spatial_data,idVariable='GEOID')
w.transform = 'R'

('WARNING: ', 36061000100, ' is an island (no neighbors)')

/usr/local/lib/python3.6/dist-packages/libpysal/weights/weights.py:172: UserWarning:

The weights matrix is not fully connected:
 There are 2 disconnected components.
 There is 1 island with id: 36061000100.

In [ ]:
spatial_data = spatial_data.merge(df, how='inner',left_on='GEOID',right_on='geo_id')
spatial_data.head()

  STATEFP COUNTYFP  ... 2018_2014_EP_MOBILE  2018_2014_EP_CROWD
0      36      081  ...                 0.0               -21.8
1      36      081  ...                31.4               -23.0
2      36      081  ...                 0.0               -16.9
3      36      081  ...                 1.2               -14.0
4      36      081  ...                 1.5                 2.5

[5 rows x 45 columns]

In [ ]:
#Dropping education since all values are null
spatial_data = spatial_data.drop(columns='2012_2011_edu_dist')
spatial_data = spatial_data.drop(columns='2012_2011_bachelors_degree')

In [ ]:
#Fill NAs with 0 for spatial lag calculations
spatial_data = spatial_data.fillna(999)

In [ ]:
gentrification_data = pd.read_csv('/content/gentrification_13_18.csv')
gentrification_data = gentrification_data.drop(columns=['Unnamed: 0'])
gentrification_data = gentrification_data.rename(columns={'geo_id':'GEOID'})
gentrification_data.head()

         GEOID  total_pop_18  ...  eligible_for_gentrification  not_eligible_highpop
0  36005050400           222  ...                        False                 False
1  36081005000           101  ...                        False                 False
2  36005043500           361  ...                        False                 False
3  36081056100            60  ...                        False                 False
4  36081011400          1382  ...                        False                  True

[5 rows x 70 columns]

In [ ]:
spatial_data = spatial_data.merge(gentrification_data[['GEOID','gentrified']], on = 'GEOID',how='left')

In [ ]:
def f(row):
    if row['gentrified'] == False:
      val = 0
    elif row['gentrified'] == True:
      val = 1
    else:
      val = 2

    return val

spatial_data['gentrification_label'] = spatial_data.apply(f, axis=1)

In [ ]:
#Calculating spatial weights
import libpysal as lps

spatial_data['lagged_spatial_income'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_median_income'])
spatial_data['lagged_spatial_rent'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_median_rent'])
spatial_data['lagged_income_dist'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_income_dist'])
spatial_data['lagged_white_pop'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_white_pop'])
spatial_data['lagged_other_races'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_other_races'])
#spatial_data['lagged_edu_dist'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_edu_dist'])
spatial_data['lagged_public_commute'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_commuters_by_public_transportation'])
spatial_data['lagged_income_per_capita'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_income_per_capita'])
spatial_data['lagged_housing_units'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_housing_units'])
spatial_data['lagged_vacant_housing_units'] = lps.weights.lag_spatial(w, spatial_data['2012_2011_vacant_housing_units'])

In [ ]:
spatial_data['gentrification_label'].value_counts()

0    2122
1      45
Name: gentrification_label, dtype: int64

In [ ]:
#Running models as is without balancing the datasets to include equal proportions of each classes for better training setting
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score
#from sklearn.metrics import roc_auc_ovr
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn import preprocessing

spatial_data_training = spatial_data

features = ['2017_2012_median_income','2017_2012_median_rent','2017_2012_income_dist',
            '2017_2012_edu_dist','2017_2012_white_pop','2017_2012_other_races','2017_2012_commuters_by_public_transportation',
            '2017_2012_income_per_capita','2017_2012_housing_units','2017_2012_vacant_housing_units','2017_2012_bachelors_degree',
            '2018_2014_EP_POV','2018_2014_EP_UNEMP','2018_2014_EP_SNGPNT','2018_2014_EP_MINRTY','2018_2014_EP_MUNIT','2018_2014_EP_MOBILE',
            '2018_2014_EP_CROWD','lagged_spatial_income','lagged_spatial_rent','lagged_income_dist','lagged_white_pop',
            'lagged_other_races','lagged_public_commute','lagged_income_per_capita','lagged_housing_units','lagged_vacant_housing_units']


X = spatial_data_training[features]
y = spatial_data_training['gentrification_label']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 999)


mu=X_train.iloc[:,:].mean()
sigma=X_train.iloc[::].std()

X_train.iloc[:,:]=(X_train.iloc[:,:]-mu)/sigma
X_test.iloc[:,:]=(X_test.iloc[:,:]-mu)/sigma

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
from imblearn.over_sampling import SMOTE

os = SMOTE(random_state=0)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
columns = X_train.columns

mu=X_train.iloc[:,:].mean()
sigma=X_train.iloc[::].std()

X_train.iloc[:,:]=(X_train.iloc[:,:]-mu)/sigma
X_test.iloc[:,:]=(X_test.iloc[:,:]-mu)/sigma


os_data_X,os_data_y = os.fit_sample(X_train, y_train)

os_data_X = pd.DataFrame(data=os_data_X,columns=columns)

os_data_y= pd.DataFrame(data=os_data_y,columns=['y'])

# we can Check the numbers of our data
print("length of oversampled data is ",len(os_data_X))
print("Number of no subscription in oversampled data",len(os_data_y[os_data_y['y']==0]))
print("Number of subscription",len(os_data_y[os_data_y['y']==1]))
print("Proportion of no subscription data in oversampled data is ",len(os_data_y[os_data_y['y']==0])/len(os_data_X))
print("Proportion of subscription data in oversampled data is ",len(os_data_y[os_data_y['y']==1])/len(os_data_X))

length of oversampled data is  2956
Number of no subscription in oversampled data 1478
Number of subscription 1478
Proportion of no subscription data in oversampled data is  0.5
Proportion of subscription data in oversampled data is  0.5

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning:

The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning:

The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning:

Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
rfe = RFE(logreg, 20)
rfe = rfe.fit(os_data_X, os_data_y.values.ravel())
print(rfe.support_)
print(rfe.ranking_)

[ True False  True  True False  True  True  True  True  True  True  True
  True False  True  True  True False  True  True  True False False  True
  True  True False]
[1 8 1 1 2 1 1 1 1 1 1 1 1 4 1 1 1 5 1 1 1 7 6 1 1 1 3]

In [ ]:
X_train

      2017_2012_median_income  ...  lagged_vacant_housing_units
1584                -0.126063  ...                     0.684501
841                  0.814999  ...                    -0.117301
905                 -0.498732  ...                    -1.623540
728                  2.341076  ...                    -0.103170
40                  -0.599478  ...                    -0.761842
...                       ...  ...                          ...
1033                -0.781334  ...                    -0.247303
1731                -3.229284  ...                     0.022791
763                 -1.570601  ...                    -0.183852
835                 -0.129098  ...                     0.668547
1653                 0.907616  ...                    -1.163883

[1516 rows x 27 columns]

In [ ]:
cols=['2017_2012_median_income', '2017_2012_white_pop','2017_2012_income_dist','2017_2012_edu_dist', '2017_2012_other_races', '2017_2012_commuters_by_public_transportation','2017_2012_income_per_capita', '2017_2012_housing_units', '2017_2012_vacant_housing_units', 
      '2017_2012_bachelors_degree', '2018_2014_EP_POV', '2018_2014_EP_UNEMP', '2018_2014_EP_SNGPNT', '2018_2014_EP_MUNIT', '2018_2014_EP_MOBILE','2018_2014_EP_CROWD','lagged_spatial_income','lagged_spatial_rent', 'lagged_income_dist','lagged_housing_units']

Xn=os_data_X[cols]
yn=os_data_y['y']

In [ ]:
import statsmodels.api as sm
logit_model=sm.Logit(yn,Xn)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.536866
         Iterations 6
                                       Results: Logit
============================================================================================
Model:                        Logit                    Pseudo R-squared:         0.225
Dependent Variable:           y                        AIC:                      3213.9518
Date:                         2020-07-15 04:06         BIC:                      3333.7836
No. Observations:             2956                     Log-Likelihood:           -1587.0
Df Model:                     19                       LL-Null:                  -2048.9
Df Residuals:                 2936                     LLR p-value:              8.9297e-184
Converged:                    1.0000                   Scale:                    1.0000
No. Iterations:               6.0000
--------------------------------------------------------------------------------------------
                                              Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
--------------------------------------------------------------------------------------------
2017_2012_median_income                      -0.9953   0.1130 -8.8112 0.0000 -1.2166 -0.7739
2017_2012_white_pop                          -0.0443   0.1497 -0.2959 0.7673 -0.3376  0.2491
2017_2012_income_dist                        -0.3022   0.0605 -4.9981 0.0000 -0.4207 -0.1837
2017_2012_edu_dist                           -0.2055   0.0629 -3.2702 0.0011 -0.3287 -0.0824
2017_2012_other_races                         0.4535   0.1407  3.2226 0.0013  0.1777  0.7293
2017_2012_commuters_by_public_transportation  0.4679   0.0780  6.0020 0.0000  0.3151  0.6207
2017_2012_income_per_capita                   0.5181   0.1335  3.8807 0.0001  0.2564  0.7797
2017_2012_housing_units                      -1.5077   0.2304 -6.5443 0.0000 -1.9592 -1.0561
2017_2012_vacant_housing_units                0.1787   0.1083  1.6498 0.0990 -0.0336  0.3910
2017_2012_bachelors_degree                    1.1949   0.1252  9.5457 0.0000  0.9496  1.4403
2018_2014_EP_POV                              0.8751   0.2977  2.9398 0.0033  0.2917  1.4586
2018_2014_EP_UNEMP                           -0.4188   0.2471 -1.6952 0.0900 -0.9030  0.0654
2018_2014_EP_SNGPNT                          -0.1659   0.1346 -1.2323 0.2178 -0.4297  0.0980
2018_2014_EP_MUNIT                            0.2675   0.0706  3.7862 0.0002  0.1290  0.4059
2018_2014_EP_MOBILE                          -0.5423   0.2357 -2.3003 0.0214 -1.0043 -0.0802
2018_2014_EP_CROWD                            0.0721   0.1407  0.5123 0.6085 -0.2038  0.3480
lagged_spatial_income                         0.2277   0.0605  3.7607 0.0002  0.1090  0.3463
lagged_spatial_rent                           0.1610   0.0535  3.0103 0.0026  0.0562  0.2659
lagged_income_dist                           -0.3845   0.0545 -7.0489 0.0000 -0.4914 -0.2776
lagged_housing_units                         -0.2178   0.0472 -4.6168 0.0000 -0.3103 -0.1253
============================================================================================

In [ ]:
cols = ['2017_2012_median_income','2017_2012_income_dist','2017_2012_edu_dist','2017_2012_other_races','2017_2012_commuters_by_public_transportation',
        '2017_2012_income_per_capita','2017_2012_housing_units','2017_2012_vacant_housing_units','2017_2012_bachelors_degree',
        '2018_2014_EP_POV','2018_2014_EP_MUNIT','2018_2014_EP_MOBILE','lagged_spatial_income',
        'lagged_spatial_rent','lagged_income_dist']

Xn=os_data_X[cols]
yn=os_data_y['y']
logit_model=sm.Logit(yn,Xn)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.541793
         Iterations 6
                                       Results: Logit
=============================================================================================
Model:                       Logit                     Pseudo R-squared:          0.218
Dependent Variable:          y                         AIC:                       3233.0780
Date:                        2020-07-15 04:06          BIC:                       3322.9519
No. Observations:            2956                      Log-Likelihood:            -1601.5
Df Model:                    14                        LL-Null:                   -2048.9
Df Residuals:                2941                      LLR p-value:               5.5925e-182
Converged:                   1.0000                    Scale:                     1.0000
No. Iterations:              6.0000
---------------------------------------------------------------------------------------------
                                              Coef.  Std.Err.    z     P>|z|   [0.025  0.975]
---------------------------------------------------------------------------------------------
2017_2012_median_income                      -1.0811   0.0974 -11.0939 0.0000 -1.2721 -0.8901
2017_2012_income_dist                        -0.2978   0.0598  -4.9831 0.0000 -0.4150 -0.1807
2017_2012_edu_dist                           -0.1987   0.0623  -3.1886 0.0014 -0.3209 -0.0766
2017_2012_other_races                         0.4837   0.0750   6.4488 0.0000  0.3367  0.6307
2017_2012_commuters_by_public_transportation  0.4389   0.0771   5.6893 0.0000  0.2877  0.5901
2017_2012_income_per_capita                   0.5513   0.1178   4.6802 0.0000  0.3204  0.7821
2017_2012_housing_units                      -1.5723   0.1230 -12.7873 0.0000 -1.8133 -1.3313
2017_2012_vacant_housing_units                0.2041   0.0930   2.1956 0.0281  0.0219  0.3863
2017_2012_bachelors_degree                    1.2194   0.1236   9.8662 0.0000  0.9771  1.4616
2018_2014_EP_POV                              0.6075   0.3170   1.9165 0.0553 -0.0138  1.2288
2018_2014_EP_MUNIT                            0.2389   0.0641   3.7240 0.0002  0.1132  0.3646
2018_2014_EP_MOBILE                          -0.6992   0.3150  -2.2197 0.0264 -1.3165 -0.0818
lagged_spatial_income                         0.1982   0.0596   3.3235 0.0009  0.0813  0.3151
lagged_spatial_rent                           0.1905   0.0532   3.5826 0.0003  0.0863  0.2948
lagged_income_dist                           -0.3989   0.0534  -7.4743 0.0000 -0.5035 -0.2943
=============================================================================================

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
Xn_train, Xn_test, yn_train, yn_test = train_test_split(Xn, yn, test_size=0.3, random_state=0)
logreg = LogisticRegression()
logreg.fit(Xn_train, yn_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = logreg.predict(Xn_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(Xn_test, yn_test)))

Accuracy of logistic regression classifier on test set: 0.81

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(yn_test, y_pred)
print(confusion_matrix)

[[364 103]
 [ 69 351]]

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(yn_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.78      0.81       467
           1       0.77      0.84      0.80       420

    accuracy                           0.81       887
   macro avg       0.81      0.81      0.81       887
weighted avg       0.81      0.81      0.81       887

In [ ]:
spatial_data.iloc[:,14:]

      2017_2012_median_income  ...  lagged_vacant_housing_units
0                   -11203.74  ...                   380.800000
1                    -8801.66  ...                    20.666667
2                    16139.15  ...                   -41.428571
3                    -8269.56  ...                    11.571429
4                    22743.78  ...                    83.857143
...                       ...  ...                          ...
2162                  8334.77  ...                   -79.000000
2163                -46269.17  ...                    10.800000
2164                 13181.24  ...                   -27.500000
2165                 20240.69  ...                   -49.166667
2166                -14768.87  ...                  -138.937500

[2167 rows x 41 columns]

In [ ]:
spatial_data_rh.head()

  STATEFP COUNTYFP  ... lagged_vacant_housing_units  lagged_spatial_rent
0      36      047  ...                    1.000000                  0.0
1      36      047  ...                   15.666667                  0.0
2      36      047  ...                    1.000000                  0.0
3      36      047  ...                   15.500000                  0.0

[4 rows x 45 columns]

In [ ]:
mu=spatial_data_rh[['2022_2017_median_income','2022_2017_income_dist','2022_2017_edu_dist','2022_2017_other_races','2022_2017_commuters_by_public_transportation','2022_2017_income_per_capita','2022_2017_housing_units','2022_2017_vacant_housing_units','2022_2017_bachelors_degree','2022_2018_EP_POV','2022_2018_EP_MUNIT','2022_2018_EP_MOBILE','lagged_spatial_income','lagged_spatial_rent','lagged_income_dist']].mean()
sigma=mu=spatial_data_rh[['2022_2017_median_income','2022_2017_income_dist','2022_2017_edu_dist','2022_2017_other_races','2022_2017_commuters_by_public_transportation','2022_2017_income_per_capita','2022_2017_housing_units','2022_2017_vacant_housing_units','2022_2017_bachelors_degree','2022_2018_EP_POV','2022_2018_EP_MUNIT','2022_2018_EP_MOBILE','lagged_spatial_income','lagged_spatial_rent','lagged_income_dist']].std()

In [ ]:
spatial_data_rh_pred = spatial_data_rh[['geo_id',
                                        '2022_2017_median_income',
                                        '2022_2017_income_dist',
                                        '2022_2017_edu_dist',
                                        '2022_2017_other_races',
                                        '2022_2017_commuters_by_public_transportation',
                                        '2022_2017_income_per_capita',
                                        '2022_2017_housing_units',
                                        '2022_2017_vacant_housing_units',
                                        '2022_2017_bachelors_degree',
                                        '2022_2018_EP_POV',
                                        '2022_2018_EP_MUNIT',
                                        '2022_2018_EP_MOBILE',
                                        'lagged_spatial_income',
                                        'lagged_spatial_rent',
                                        'lagged_income_dist']]

In [ ]:
spatial_data_rh_pred

        geo_id  ...  lagged_income_dist
0  36047005300  ...            0.109861
1  36047005900  ...            0.045701
2  36047004700  ...            0.062015
3  36047008500  ...            0.100544

[4 rows x 16 columns]

In [ ]:
spatial_data_rh_pred = spatial_data_rh_pred.fillna(0)
spatial_data_rh_pred.iloc[:,1:]=(spatial_data_rh_pred.iloc[:,1:]-mu)/sigma
spatial_data_rh_pred = spatial_data_rh_pred.fillna(0)
spatial_data_rh_pred['prediction'] = logreg.predict_proba(spatial_data_rh_pred.iloc[:,1:])[:, 1] 
spatial_data_rh_pred.head()

        geo_id  2022_2017_median_income  ...  lagged_income_dist  prediction
0  36047005300                -1.024999  ...            2.587913    0.001008
1  36047005900                 0.245487  ...            0.492537    0.012462
2  36047004700                -2.192624  ...            1.025345    0.000716
3  36047008500                -1.177061  ...            2.283632    0.000714

[4 rows x 17 columns]

In [ ]:
spatial_data_rh_pred.to_csv('redhook_gentrification_prediction.csv')